@using Mono.TextTemplating
@inherits CustomComponentBase

@if (_visible)
{
    <div class="alert alert-@AlertClass() fade show d-flex justify-content-between gap-3" role="alert" id="@Id">
        <span>@Text</span>
        <button type="button" class="btn pt-0 pb-0" data-dismiss="alert" aria-label="Close" @onclick="Hide">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"></path></svg>
        </button>
    </div>   
}

@code {
    private bool _visible;
    
    /// <summary>
    /// Text of the alert.
    /// </summary>
    [Parameter, EditorRequired]
    public required string Text { get; set; }
    
    /// <summary>
    /// If alert is a danger.
    /// </summary>
    [Parameter]
    public bool Danger { get; set; }
    
    /// <summary>
    /// If alert is a success.
    /// </summary>
    [Parameter]
    public bool Success { get; set; }
    
    /// <summary>
    /// If alert is a warning.
    /// </summary>
    [Parameter]
    public bool Warning { get; set; }
    
    /// <summary>
    /// Shows alert.
    /// </summary>
    public void Show()
    {
        _visible = true;
        StateHasChanged();
    }
    
    /// <summary>
    /// Sets text.
    /// </summary>
    public void SetText(string text)
    {
        Text = text;
    }

    private void Hide() => _visible = false;
    
    private string AlertClass()
    {
        if (Danger) return  "danger";
        if (Success) return "success";
        if (Warning) return "warning";
        
        throw new Exception("No alert option set.");
    }
}