@using WebApplication.Data.Models
@using WebApplication.Web.Components

@* NOTE: Similar code in the EditEngineForm and AddEngineForm. *@

<EditForm Model="@(new object())">
    <DataAnnotationsValidator/>
    <div class="form-floating mb-3">
        <InputText class="form-control" @bind-Value="@Engine.Name" Id="Name" disabled />
        <label for="Name" class="form-label">Name</label>
    </div>
    
    <div class="form-floating mb-3">
        <InputText class="form-control" @bind-Value="@Engine.GitUrl" Id="GitUrl" disabled />
        <label for="GitUrl" class="form-label">Git url</label>
    </div>
    
    <div class="form-floating mb-3 code-editor-form">
        <span>Build script</span>
        <div class="editor-box">
            <CodeEditor Language="shell" InitialValue="@Engine.GetBuildScriptString()" Readonly />
        </div>
    </div>
</EditForm>

@code {
    /// <summary>
    /// Engine for detail.
    /// </summary>
    [Parameter, EditorRequired]
    public required Engine Engine { get; set; }
}