@using WebApplication.Data.Models
@using WebApplication.Stores

@inject TestStore TestStore

<p>Git url: @Engine.GitUrl</p>
<p>Build script:</p>
<div>
    <code>
        @Engine.GetBuildScriptString() @* TODO monaco editor *@
    </code>
</div>
<p>Recent tests:</p>
@{
    var recentTests = TestStore.RecentTests(Engine.Id, 10);
}
@foreach(var test in recentTests) 
{
    @* TODO some test stats. *@
    @* - Same component from test lists. *@
    <p>@test.Id</p>
}

@code {
    
    [Parameter, EditorRequired]
    public required Engine Engine { get; set; }
    
}