@inherits AuthorizedPageBase

@page "/Engines/Manage"

@using Microsoft.AspNetCore.Authorization
@using WebApplication.Data.Models
@using WebApplication.Stores
@using WebApplication.Web.Components

@inject EngineStore EngineStore

@rendermode InteractiveServer

@attribute [Authorize]

<CascadingValue Value="this"> 
    <PageHeader Value="Engine management"/>
    
    <button type="button" class="btn btn-primary" @onclick="ShowPopup">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
        </svg>
    </button>
    
    <Popup @ref="_popup">
        <ChildContent>
            <CreateEngineForm />
        </ChildContent>
    </Popup>

    <div>
        <h3>All engines</h3>
        @foreach (var engine in _engines)
        {
            <EngineDetail Engine="engine" />
        }
    </div>

</CascadingValue>
@code {
    private List<Engine> _engines = [];
    private Popup? _popup;
    
    
    /// <inheritdoc /> 
    protected override void OnParametersSet()
    {
        if (UserId is not null)
        {
            ReloadState();
        }
    }
    
    internal void ReloadState()
    {
        _engines = EngineStore.GetEnginesForUser(UserId!);
        _popup?.Close();
        StateHasChanged();
    }

    private void ShowPopup() => _popup?.Show();
}