
<table class="table table-borderless">
    <tbody>
    @if (Tests.Count > 0)
    {
        @foreach (var test in Tests)
        {
            <TestLink Test="test"/>
        }
    }
    else
    {
        <span>No data to display</span>
    }
    </tbody>
</table>

@code {
    
    /// <summary>
    /// Tests to display.
    /// </summary>
    [Parameter, EditorRequired]
    public required IReadOnlyList<Data.Models.Test> Tests { get; set; }
}