@page "/auth"

@using Microsoft.AspNetCore.Authorization
@using WebApplication.Components.Account
@using WebApplication.Data
@using WebApplication.Stores

@attribute [Authorize]

@inject UserStore UserStore

@rendermode InteractiveServer

<PageTitle>Auth</PageTitle>

<h1>Auth</h1>

<AuthorizeView>
    Auth: @context.User.Identity?.Name!
</AuthorizeView>

@{
    _users = UserStore.GetAllUsers();
}
@foreach (var user in _users.Where(u => u.UserName != _username))
{
    <div>       
        <span>@user.UserName</span>
        @{
           var currentUser = user;
        }
        <button @onclick="(args) => RemoveUser(currentUser)">remove user</button>
    </div>
}

@code{
    [CascadingParameter] 
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;

    private IReadOnlyList<ApplicationUser> _users = null!;
    private string? _username;
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        _username = authState.User.Identity?.Name;
    }

    private void RemoveUser(ApplicationUser user) => UserStore.DeleteUser(user);
}
