@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>Auth</h1>

<AuthorizeView>
    Auth: @context.User.Identity?.Name!
</AuthorizeView>

@code{
}
