@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Identity
@using WebApplication.Data.Models

@inject UserManager<ApplicationUser> UserManager


<NavMenu />
<div class="page">
    <main class="content px-4" style="padding-top: 5rem">
        <div>
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
}
