@page "/"

@using WebApplication.Stores
@using WebApplication.Web.Components
@using WebApplication.Web.Pages.Tests

@inject TestStore TestStore

@rendermode InteractiveServer

<PageTitle>Bencher - chess engine testing framework</PageTitle>
<PageHeader Value="Bencher - chess engine testing framework" />

<h3 class="mb-3">Paused tests [@_pausedTests.Count]</h3>
<TestLinks Tests="_pausedTests" />

<h3 class="mb-3 mt-3">Autobenched tests [@_autobenchedTests.Count]</h3>
<TestLinks Tests="_autobenchedTests" />

<h3 class="mb-3 mt-3">Running tests [@_runningTests.Count]</h3>
<TestLinks Tests="_runningTests" />

@code {
    private IReadOnlyList<Data.Models.Test> _pausedTests = [];
    private IReadOnlyList<Data.Models.Test> _runningTests = [];
    private IReadOnlyList<Data.Models.Test> _autobenchedTests = [];
    
    /// <inheritdoc />
    protected override void OnParametersSet()
    {
        (_autobenchedTests, _runningTests) = TestStore.GetRunningTests();
        _pausedTests = TestStore.GetPausedTests();
        base.OnParametersSet();
    }
}