@page "/NotFound"
@page "/{*Path:nonfile}"

@using WebApplication.Web.Components

<PageTitle>Not found [404]</PageTitle>
<div class="not-found d-flex justify-content-center">
    <PageHeader Value="Not found [404]" />
</div>

@code {
    [Parameter]
    public string? Path { get; set; }
}