@inherits AuthorizedPageBase

@using System.ComponentModel.DataAnnotations
@using Shared
@using WebApplication.Data.Models
@using WebApplication.Stores
@using WebApplication.Web.Components

@inject OpeningBookStore OpeningBookStore 

<Alert @ref="_alert" Danger Text="" />

<EditForm Model="_formData" OnValidSubmit="AddOpeningBook" FormName="AddOpeningBook">
    <DataAnnotationsValidator/>
    
    <div class="form-floating mb-3">
        <InputFile class="form-control" OnChange="OnFileChanged" Id="File" />
    </div>
   
    <button type="submit" class="btn btn-primary ms-auto d-block" value="Save">Add</button>
</EditForm>

@code {
    private OpeningBookFormModel _formData = new OpeningBookFormModel();
    private Alert? _alert;
    
    private static readonly string LowerEpd = $".{nameof(OpeningBookType.EPD).ToLower()}";
    private static readonly string LowerPgn = $".{nameof(OpeningBookType.PGN).ToLower()}";

    private static readonly string FILE_TOO_BIG = $"Opening book is too big, maximum size is {OpeningBookContent.MEGABYTES_DATA_SIZE} MB.";
    private const string INVALID_FILE_TYPE = "File type is invalid, expected .epd or .pgn"; 
    
    /// <summary>
    /// Action when opening book is added.
    /// </summary>
    [Parameter, EditorRequired]
    public required Action OnOpeningBookAdd { get; set; }
    
    private void AddOpeningBook(EditContext context)
    {
        OpeningBookStore.Add(UserId!, _formData.Name, _formData.Data, _formData.OpeningBookType);
        OnOpeningBookAdd.Invoke();
    }

    private async Task OnFileChanged(InputFileChangeEventArgs args)
    {
        var file = args.File;
        
        var extension = Path.GetExtension(file.Name);
        if (extension != LowerEpd && extension != LowerPgn)
        {
            SetText(true);
            return;
        } 
        
        _formData.OpeningBookType = extension == LowerEpd ? OpeningBookType.EPD : OpeningBookType.PGN;
        _formData.Name = file.Name;

        try
        {
            await using var stream = file.OpenReadStream(OpeningBookContent.MAX_OPENING_BOOK_SIZE);
            _formData.Data = new byte[stream.Length];
            await stream.ReadExactlyAsync(_formData.Data, 0, (int)stream.Length);
        }
        catch
        {
            SetText(false);
        }
    }

    private void SetText(bool invalidFileType)
    {
        var text = invalidFileType ? INVALID_FILE_TYPE : FILE_TOO_BIG;
        
        _alert?.SetText(text);
        _alert?.Show();
    }
    
    private class OpeningBookFormModel
    {
        [Required]
        [MaxLength(50)]
        public string Name { get; set; } = null!;
        
        [Required]
        public byte[] Data { get; set; } = null!;
        
        [Required]
        public OpeningBookType OpeningBookType { get; set; }
    }
}
