@inherits VerifiedPageBase

@page "/OpeningBooks/Manage"

@using Microsoft.AspNetCore.Authorization
@using WebApplication.Data.Models
@using WebApplication.Stores
@using WebApplication.Web.Components

@inject OpeningBookStore OpeningBookStore

@rendermode InteractiveServer

@attribute [Authorize]

<PageTitle>Manage opening books</PageTitle>

<Alert @ref="_alert" Danger Text="It is not possible to remove an opening book with a test." />

<PageHeader Value="Manage opening books" />

<button type="button" class="btn btn-primary d-flex align-items-center gap-2" @onclick="ShowPopup">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"></path>
    </svg>
    Add opening book
</button>

@if (_openingBooks.Count > 0)
{
    <div class="pt-3">
        <h3>All my opening books</h3>
        @Table(_openingBooks, true)
    </div>
}

@if (_sharedOpeningBooks.Count > 0)
{
    <div class="pt-3">
        <h3>Shared opening books</h3>
        @Table(_sharedOpeningBooks, false)
    </div>   
}

<Popup @ref="_popup" Title="Add opening book">
    <ChildContent>
        <AddOpeningBookForm OnOpeningBookAdd="ReloadState" />
    </ChildContent>
</Popup>

@code {
    private IReadOnlyList<OpeningBook> _openingBooks = [];
    private IReadOnlyList<OpeningBook> _sharedOpeningBooks = [];
    private Popup? _popup;
    private Alert? _alert;
    
    protected override void OnParametersSet()
    {
        if (UserId is not null)
        {
            ReloadState();
        }
    }
    
    private void ReloadState()
    {
        _openingBooks = OpeningBookStore.GetOpeningBooksForUser(UserId!);
        _sharedOpeningBooks = OpeningBookStore.GetSharedOpeningBooks();
        _popup?.Close();
        StateHasChanged();
    }

    private void ShowPopup() => _popup?.Show();


    private RenderFragment Table(IReadOnlyList<OpeningBook> openingBooks, bool enableDelete) => @<table class="table table-borderless">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th class="d-flex justify-content-end">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var openingBook in openingBooks)
        {
            <OpeningBookRow OpeningBook="openingBook" EnableDelete="enableDelete" OnOpeningBookDeleted="ReloadState" OnAnyTest="() => _alert?.Show()"/>
        }
        </tbody>
    </table>;

}