@page "/Errors"

@using WebApplication.Stores
@using WebApplication.Web.Components

@rendermode InteractiveServer

@inject TestErrorStore TestErrorStore

@* TODO paging !! *@

<PageTitle>Errors</PageTitle>
<PageHeader Value="Errors" />

@foreach (var error in _errors)
{
    <span>@error.Id -- TODO</span>
}

@code {
    private IReadOnlyList<Data.Models.TestError> _errors = [];
    
    /// <inheritdoc /> 
    protected override void OnInitialized()
    {
        _errors = TestErrorStore.GetErrors();
        base.OnInitialized();
    }
}