@page "/Errors/Workers"

@using WebApplication.Components.Components
@using WebApplication.Stores
@using WebApplication.Web.Components

@rendermode InteractiveServer

@inject WorkerErrorStore WorkerErrorStore

<PageTitle>Worker errors</PageTitle>
<PageHeader Value="Worker errors"/>

<TablePaginator TRow="Data.Models.WorkerError"
                InitialRows="_errors"
                NextPageClicked="OnNextPageClicked"
                PreviousPageClicked="OnPreviousPageClicked"
                AdditionalCssClass="table-striped">
    <HeaderContent>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datetime</th>
                <td>Log</td>
            </tr>
        </thead>
    </HeaderContent>
    
    <RowContent>
        <tr>
            <td>@context.Id</td>
            <td>@context.Time</td>
            @{
                var fileName = $"error_{context.Time}";
            }
            <td><DownloadButton FileName="@fileName" DataLoader="() => WorkerErrorStore.LoadContent(context.Id)"/></td>
        </tr>
    </RowContent>
</TablePaginator>

@code {
    
    private IReadOnlyList<Data.Models.WorkerError> _errors = [];
    
    /// <inheritdoc /> 
    protected override void OnInitialized()
    {
        _errors = WorkerErrorStore.GetErrorsForPage(0);
        base.OnInitialized();
    }

    private PageClickedResult<Data.Models.WorkerError> OnNextPageClicked(PageClickedArgs args)
    {
        var errors = WorkerErrorStore.GetErrorsForPage(args.RequestedPageIndex);
        var result = new PageClickedResult<Data.Models.WorkerError>(errors);
        return result;
    }
    
    private PageClickedResult<Data.Models.WorkerError> OnPreviousPageClicked(PageClickedArgs args)
    {
        var errors = WorkerErrorStore.GetErrorsForPage(args.RequestedPageIndex);
        var result = new PageClickedResult<Data.Models.WorkerError>(errors);
        return result;
    }
    
}