@page "/Account/ForgotPasswordConfirmation"
@using WebApplication.Web.Components

<PageTitle>Forgot password confirmation</PageTitle>

<div class="d-flex flex-column align-items-center">
    <PageHeader Value="Forgot password confirmation" />
    <p role="alert">
        Please check your email to reset your password.
    </p>
</div>
