@page "/Account/ResetPasswordConfirmation"

@using WebApplication.Web.Components

<PageTitle>Reset password confirmation</PageTitle>

<div class="d-flex flex-column align-items-center">
    <PageHeader Value="Reset password confirmation" />
    <p role="alert">
        Your password has been reset. Please <span style="cursor: pointer;" class="btn-link" onclick="ensureReloadRedirect('Account/Login')">click here to log in</span>
    </p>
</div>
